<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
  <div id="main">
    <div id="map">マップ</div>

    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_sasa %><br>
    <%= f.text_field :student_sasa %>
  </div>
  <div class="field">
    <%= f.label :student_number %><br>
    <%= f.text_field :student_number %>
  </div>
  <div class="field">
    <%= f.label :student_grade %><br>
    <%= f.number_field :student_grade %>
  </div>
  <div class="field">
    <%= f.label :student_class %><br>
    <%= f.number_field :student_class %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :observed_at %><br>
    <%= f.datetime_select :observed_at %>
  </div>
  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :event_name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
