<% if controller.action_name == 'show' %>
<p><%= note.event_name %></p>
<% end %>
<h2><%= note.title %></h2>
<p><%= simple_format h note.body %></p>
<% if note.image_file_name %>
<p><%= image_tag note.image_file_name, width: 350 %></p>
<% end %>
<%= I18n.l note.observed_at %>
<%= note.weather %>
<% if Mode.first.name == 'edit' %>
  <p>
	<%= link_to '[書き直す]', edit_note_path(note), remote: true %> 
	<%= link_to '[削除する]', note, method: :delete, data: { confirm: '本当に削除しますか？' } %> 
	<% if controller.action_name != "index" %>
	  <%= link_to '[これでOK]', notes_path %>
	<% end %>
  </p>
<% end %>