<script src="/javascripts/mapRamble.js"></script>

<script>
<% if edit_mode? %>
MAPRAMBLE.mode = 'edit';
<% else %>
MAPRAMBLE.mode = 'view';
<% end %>

<% if @notes.present? %>
MAPRAMBLE.bounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(<%= @lat_min %>, <%= @lng_min %>),
    new google.maps.LatLng(<%= @lat_max %>, <%= @lng_max %>)
);
<% end %>
</script>

<div id="main">
  <div id="map">
  </div>
  <div id="info">
    <% @notes.each do |note| %>
      <%= render note %>
    <% end %>
  </div>
</div>
<div class="thumb-wrapper">
  <ul id="thumb">
  </ul>
  <div class="carouPrev"></div>
  <div class="carouNext"></div>
</div>
