    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="main">
    <div id="map">
        <script>
          var options={
             center: new google.maps.LatLng(40.9689298,141.3658779),
             zoom:14,
             mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(
           document.getElementById('map'),
           options
        );

      </script>
    </div>
    
      <script>
        var Mapramble = {};
          Mapramble.mode = 'edit';
          //Mapramble.mode = 'viewer';
          Mapramble.places = [];
          <% if @notes.present? %>
            <% @notes.each do |note| %>
              Mapramble.places.push({lat: <%= note.latitude %>, lng: <%= note.longitude %>, id: <%= note.id %> });
            <% end %>
          <% end %>
          Mapramble.bounds = new google.maps.LatLngBounds(
              new google.maps.LatLng(40.614017, 140.485517),
              new google.maps.LatLng(40.838241, 140.823699)
          );
          
      </script>
        <script src="/javascript/mapRamble.js"></script>
    
    
  <div id="info">情報</div>
</div>
<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Student name</th>
      <th>Student number</th>
      <th>Student grade</th>
      <th>Student class</th>
      <th>Title</th>
      <th>Body</th>
      <th>Image File Name</th>
      <th>Observed at</th>
      <th>Weather</th>
      <th>Event name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.student_name %></td>
        <td><%= note.student_number %></td>
        <td><%= note.student_grade %></td>
        <td><%= note.student_class %></td>
        <td><%= note.title %></td>
        <td><%= note.body %></td>
        <td><%= note.image_file_name %></td>
        <td><%= note.observed_at %></td>
        <td><%= note.weather %></td>
        <td><%= note.event_name %></td>
        <td><%= note.latitude %></td>
        <td><%= note.longitude %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
