<p id="notice"><%= notice %></p>

<p>
  <strong>児童名:</strong>
  <%= @note.student_name %>
</p>

<p>
  <strong>出席番号:</strong>
  <%= @note.student_number %>
</p>

<p>
  <strong>学年:</strong>
  <%= @note.student_grade %>
</p>

<p>
  <strong>クラス:</strong>
  <%= @note.student_class %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag@note.image_file_name %>
</p>

<p>
  <strong>日時:</strong>
  <%= @note.observed_at %>
</p>

<p>
  <strong>天気:</strong>
  <%= @note.weather %>
</p>

<p>
  <strong>イベント名:</strong>
  <%= @note.event_name %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @note.latitude %>
</p>

<p>
  <strong>経度:</strong>
  <%= @note.longitude %>
</p>

<%= link_to '編集', edit_note_path(@note) %> |
<%= link_to '戻る', notes_path %>
