<% provide :title, "新しい場所の登録" %>

<%= form_for(@place) do |f| %>
  <fieldset data-role="controlgroup">
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :image do |imgf| %>
  <div data-role="fieldcontain">
    <%= imgf.label :uploaded_image, "表示画像" %>
    <%= imgf.file_field :uploaded_image %>
  </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :lat, "緯度" %><br>
    <%= f.text_field :lat %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :lng, "経度" %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit "登録", data: { theme: 'b' } %>
  </div>
  </fieldset>
<% end %>
