<div data-role="panel" id="menu_panel">
<ul data-role="listview">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "マップへ", map_path, rel: :external %></li>
  <li><%= link_to "場所の一覧へ", places_path %></li>
  <li><%= link_to "アプリについて", home_about_path %></li>
  <% if edit_mode? %>
  <li><%= link_to "閲覧モードへ", signout_path, method: :delete %></li>
  <% else %>
  <li><%= link_to "編集モードへ", sessions_path, method: :post %></li>
  <% end %>
</ul>
</div><!-- /menu_panel -->
