<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>尾駮沼の観察記録</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="header_logo">
    <h1><%= link_to "尾駮沼の観察記録", root_path %></h1>
  </div>
  <div id="header_menu">
	<ul>
	  <% if Mode.first.name == 'edit' %>
	      <li><%= link_to image_tag("/images/unlock.png"), modes_path, { class: Mode.first.name } %></li>
	  <% else %>
	      <li><%= link_to image_tag("/images/lock.png"), modes_path, { class: Mode.first.name } %></li>
	  <% end %>
      <li><span>登録 / 書き直し</span></li>
    </ul>
  </div>
</div>
<%= yield %>
</body>
</html>
