<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="request.ip" content="<%= request.ip %>">
  <title>尾駮沼の観察記録</title>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="header_logo">
    <h1><%= link_to "尾駮沼の観察記録", root_path %></h1>
  </div>
  <div id="header_menu">
	<ul>
	  <% if Mode.first.name == 'edit' %>
	      <li><%= link_to image_tag("/images/pencil.png"), modes_path, { class: Mode.first.name } %></li>
        <li><span>今は観察記録を書き込めます</span></li>
        <% if edit_mode? %>
          <li id="edit"><span>書く</span></li>
          <li id="view"><%= link_to "見る", signout_path, method: :post, remote: true %></li>
        <% else %>
          <li id="edit"><%= link_to "書く", sessions_path, method: :post, remote: true %></li>
          <li id="view"><span>見る</span></li>
        <% end %>
	  <% else %>
        <li><%= link_to image_tag("/images/disabled_pencil.png"), modes_path, { class: Mode.first.name } %></li>
        <li><span>今は観察記録を書き込めません</span></li>
        <li id="edit"><span class="inactive">書く</span></li>
        <li id="view"><span class="inactive">見る</span></li>
	  <% end %>
    </ul>
  </div>
</div>
<%= yield %>
<div id="footer">
  コンテンツ: 青森県六ヶ所村立尾駮小学校 / 〒039-3212 青森県六ヶ所村大字尾駮字野附968 / TEL 0175-72-2016<br>
  システム: 青森大学ソフトウェア情報学部 / 〒030-0943 青森県青森市幸畑2-3-1 / TEL 017-738-2001
</div>
</body>
</html>
