<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
  <title>尾駮沼観察</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <h1>尾駮沼観察</h1>
  <p><%= link_to "先生用メニュー", modes_path %></p>
</div>
<%= yield %>
<div id="footer">
</div>
</body>
</html>
